In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
TEST = False

Phase_1 = False
Phase_2 = False
Phase_3 = False
Phase_4 = False

DATA_FILE = "sc2021_train_deals.csv"
NAME_OUTPUT_FILE = 'A_XGBM-tuning(v49)'
NAME_OUTPUT_FOR_STAKING = 'XGBM_probs_for_staking(v49).npy'
NAME_OUTPUT_FOR_STAKING_TEST = 'XGBM_probs-test_for_staking(v49).npy'
TARGET = "target"


# Range of values for selection in phase 1 :
import numpy as np
N_ESTIMATORS_RANG = list(range(10,500,1))#  [50000] #[5000] #[500] #
RANG_LEARNING_RATE =   list(np.arange(0.01,0.1,0.005)) # 0.0015 #list(np.arange(5e-3,1e-1,5e-3)) # [0.005]

N_TRIALS = 50

SEED = 82736

SELECT_PRED = False
SELECT_PRED2 = False

HIGH_PARAM_END = False

# ------------------------------------------------------------------------------
# Path definition
# ------------------------------------------------------------------------------
#from pathlib import Path
import pathlib
#input_path = Path('Data')
DATA_DIR = pathlib.Path(".")

AGG_COLS = ["material_code", "company_code", "country", "region", "manager_code"]
CAT_COLS = ["material_code", "company_code", "country", "region", "manager_code", "month"]

LOG_PATH = pathlib.Path("./log/")
NAME_RUN_LOG = 'Run__Logs.log'

In [3]:
# Берем полученные наилучшие значения гиперпараметров
# xgb.XGBRegressor() с прошлых итераций
params = {
         'n_estimators': 330,
         'learning_rate': 0.055, 
        'random_state': SEED,
        'max_depth': 4, #3, 
        'min_child_weight': 115, #30, 
        'colsample_bytree': 0.7359281520613952, 
        'subsample': 0.3350726311191104, 
        'lambda': 0.07017450086376546, 
        'alpha': 0.06778367298243107,
        'gamma': 0.30129207712879835
        }
#Наилучшие значения гиперпараметров: {'ml__colsample_bytree': 0.7359281520613952, 'ml__subsample': 0.3350726311191104}
#Наилучшее значение AUC: -0.626
#Наилучшие значения гиперпараметров: {'ml__lambda': 0.07017450086376546, 'ml__alpha': 0.06778367298243107, 'ml__gamma': 0.30129207712879835}
#Наилучшее значение AUC: -0.625

In [4]:
from time import time
import datetime
start_time = time()


    
LOG_PATH.mkdir(parents=True, exist_ok=True)

with open(NAME_RUN_LOG, 'at', encoding='utf-8') as logfile:
    print('\n\n***********************\n***********************', 
          file=logfile)
    print('Время старта скрипта: {}'.format(datetime.datetime.now().strftime("%d-%m-%Y %H:%M")), 
          file=logfile)
print('Время старта скрипта: {}'.format(datetime.datetime.now().strftime("%d-%m-%Y %H:%M")))
    
#params

Время старта скрипта: 17-12-2021 19:22

In [5]:
%matplotlib inline
import matplotlib.pyplot as plt
import pathlib
import pandas as pd
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_log_error, make_scorer

import numpy as np
# импортируем классы KFold, TimeSeriesSplit и GroupKFold,
# реализующие стратегии перекрестной проверки, и
# класс GridSearchCV для поиска гиперпараметров
from sklearn.model_selection import (
    KFold,
    TimeSeriesSplit, 
    GroupKFold,
    GridSearchCV
)
from tqdm.notebook import tqdm
from datetime import datetime
import lightgbm as lgb
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from category_encoders import TargetEncoder, OrdinalEncoder, LeaveOneOutEncoder, CatBoostEncoder
import warnings
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor, StackingRegressor, GradientBoostingRegressor
import dill

warnings.simplefilter(action='ignore', category=FutureWarning)
# увеличиваем количество отображаемых столбцов
pd.set_option('display.max_columns', 50)

In [6]:
#!pip install -U scikit-learn --user

In [7]:
!conda activate sibur

In [8]:
import sklearn
print (sklearn.__version__)

1.0.1

In [9]:
#!pip install optuna

In [10]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV
import optuna
from optuna.samplers import RandomSampler
from optuna.integration import OptunaSearchCV
from optuna.distributions import IntUniformDistribution, UniformDistribution
from sklearn.model_selection import cross_val_predict

# загружаем необходимые библиотеки
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV
from sklearn.preprocessing import OrdinalEncoder
# импортируем функцию roc_auc_score() для вычисления AUC-ROC
import optuna
from optuna.samplers import RandomSampler
from optuna.integration import OptunaSearchCV
from optuna.distributions import IntUniformDistribution, UniformDistribution
# импортируем класс StandardScaler, позволяющий
# выполнить стандартизацию
from sklearn.preprocessing import StandardScaler, LabelEncoder
from category_encoders import TargetEncoder, OrdinalEncoder, LeaveOneOutEncoder, CatBoostEncoder
import xgboost as xgb

from sklearn.metrics import roc_auc_score, roc_curve 
from sklearn.model_selection import cross_val_predict
import scikitplot as skplt
#import matplotlib.pyplot as plt

In [11]:
# увеличиваем количество выводимых столбцов
pd.set_option('display.max_columns', 60)
# загружаем набор
data = pd.read_csv(DATA_DIR.joinpath(DATA_FILE), parse_dates=["month", "date"])

In [12]:
group_ts = data.groupby(AGG_COLS + ["month"])["volume"].sum().unstack(fill_value=0)
group_ts

month                                                                  2018-01-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              340.0
133           0            Белоруссия Минская обл.       10942                0.0
                                      Могилевская обл.   10942                0.0
                                      г. Минск           10942                0.0
                           Казахстан  г. Нур-Султан      13301                0.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                0.0
              3380         Россия     Ленинградская обл. 14956                0.0
              5410         Россия     г. Санкт-Петербург 14956               60.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2018-02-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              340.0
133           0            Белоруссия Минская обл.       10942                0.0
                                      Могилевская обл.   10942                0.0
                                      г. Минск           10942               20.0
                           Казахстан  г. Нур-Султан      13301                0.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                0.0
              3380         Россия     Ленинградская обл. 14956                0.0
              5410         Россия     г. Санкт-Петербург 14956               60.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2018-03-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              260.0
133           0            Белоруссия Минская обл.       10942                0.0
                                      Могилевская обл.   10942                0.0
                                      г. Минск           10942                0.0
                           Казахстан  г. Нур-Султан      13301               30.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                0.0
              3380         Россия     Ленинградская обл. 14956                0.0
              5410         Россия     г. Санкт-Петербург 14956              100.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2018-04-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              240.0
133           0            Белоруссия Минская обл.       10942              200.0
                                      Могилевская обл.   10942                0.0
                                      г. Минск           10942                0.0
                           Казахстан  г. Нур-Султан      13301               30.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                0.0
              3380         Россия     Ленинградская обл. 14956                0.0
              5410         Россия     г. Санкт-Петербург 14956               60.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2018-05-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              220.0
133           0            Белоруссия Минская обл.       10942               60.0
                                      Могилевская обл.   10942              140.0
                                      г. Минск           10942               40.0
                           Казахстан  г. Нур-Султан      13301                0.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                0.0
              3380         Россия     Ленинградская обл. 14956                0.0
              5410         Россия     г. Санкт-Петербург 14956               60.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2018-06-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              220.0
133           0            Белоруссия Минская обл.       10942                0.0
                                      Могилевская обл.   10942                0.0
                                      г. Минск           10942              160.0
                           Казахстан  г. Нур-Султан      13301                0.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                0.0
              3380         Россия     Ленинградская обл. 14956                0.0
              5410         Россия     г. Санкт-Петербург 14956               80.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2018-07-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              220.0
133           0            Белоруссия Минская обл.       10942                0.0
                                      Могилевская обл.   10942                0.0
                                      г. Минск           10942              180.0
                           Казахстан  г. Нур-Султан      13301               40.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                0.0
              3380         Россия     Ленинградская обл. 14956                0.0
              5410         Россия     г. Санкт-Петербург 14956               80.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2018-08-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              220.0
133           0            Белоруссия Минская обл.       10942                0.0
                                      Могилевская обл.   10942                0.0
                                      г. Минск           10942               99.0
                           Казахстан  г. Нур-Султан      13301               20.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                4.0
              3380         Россия     Ленинградская обл. 14956                0.0
              5410         Россия     г. Санкт-Петербург 14956              100.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2018-09-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              220.0
133           0            Белоруссия Минская обл.       10942                0.0
                                      Могилевская обл.   10942              100.0
                                      г. Минск           10942               60.0
                           Казахстан  г. Нур-Султан      13301               40.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                5.0
              3380         Россия     Ленинградская обл. 14956                0.0
              5410         Россия     г. Санкт-Петербург 14956               80.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2018-10-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              280.0
133           0            Белоруссия Минская обл.       10942                0.0
                                      Могилевская обл.   10942              220.0
                                      г. Минск           10942              400.0
                           Казахстан  г. Нур-Султан      13301               30.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                5.0
              3380         Россия     Ленинградская обл. 14956                0.0
              5410         Россия     г. Санкт-Петербург 14956               80.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2018-11-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              280.0
133           0            Белоруссия Минская обл.       10942                0.0
                                      Могилевская обл.   10942               20.0
                                      г. Минск           10942              120.0
                           Казахстан  г. Нур-Султан      13301                0.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                0.0
              3380         Россия     Ленинградская обл. 14956                0.0
              5410         Россия     г. Санкт-Петербург 14956               80.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2018-12-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              280.0
133           0            Белоруссия Минская обл.       10942                0.0
                                      Могилевская обл.   10942                0.0
                                      г. Минск           10942               20.0
                           Казахстан  г. Нур-Султан      13301               40.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                0.0
              3380         Россия     Ленинградская обл. 14956                0.0
              5410         Россия     г. Санкт-Петербург 14956              100.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2019-01-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              200.0
133           0            Белоруссия Минская обл.       10942                0.0
                                      Могилевская обл.   10942                0.0
                                      г. Минск           10942               40.0
                           Казахстан  г. Нур-Султан      13301               40.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                5.0
              3380         Россия     Ленинградская обл. 14956                0.0
              5410         Россия     г. Санкт-Петербург 14956              120.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2019-02-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              200.0
133           0            Белоруссия Минская обл.       10942                0.0
                                      Могилевская обл.   10942               80.0
                                      г. Минск           10942                0.0
                           Казахстан  г. Нур-Султан      13301               50.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                5.0
              3380         Россия     Ленинградская обл. 14956                0.0
              5410         Россия     г. Санкт-Петербург 14956              119.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2019-03-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              200.0
133           0            Белоруссия Минская обл.       10942                0.0
                                      Могилевская обл.   10942              142.0
                                      г. Минск           10942                0.0
                           Казахстан  г. Нур-Султан      13301                0.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                0.0
              3380         Россия     Ленинградская обл. 14956               80.0
              5410         Россия     г. Санкт-Петербург 14956              160.0
              6346         Россия     Респ. Башкортостан 10737               20.0

month                                                                  2019-04-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              185.0
133           0            Белоруссия Минская обл.       10942               36.0
                                      Могилевская обл.   10942              103.0
                                      г. Минск           10942                0.0
                           Казахстан  г. Нур-Султан      13301               40.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                8.0
              3380         Россия     Ленинградская обл. 14956               94.0
              5410         Россия     г. Санкт-Петербург 14956              120.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2019-05-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460              103.0
133           0            Белоруссия Минская обл.       10942               98.0
                                      Могилевская обл.   10942              145.0
                                      г. Минск           10942                0.0
                           Казахстан  г. Нур-Султан      13301                0.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                5.0
              3380         Россия     Ленинградская обл. 14956              127.0
              5410         Россия     г. Санкт-Петербург 14956              140.0
              6346         Россия     Респ. Башкортостан 10737               20.0

month                                                                  2019-06-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460               62.0
133           0            Белоруссия Минская обл.       10942               82.0
                                      Могилевская обл.   10942                0.0
                                      г. Минск           10942                0.0
                           Казахстан  г. Нур-Султан      13301               40.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079               10.0
              3380         Россия     Ленинградская обл. 14956              121.0
              5410         Россия     г. Санкт-Петербург 14956              100.0
              6346         Россия     Респ. Башкортостан 10737                0.0

month                                                                  2019-07-01  \
material_code company_code country    region             manager_code
124           7278         Россия     Респ. Татарстан    17460                0.0
133           0            Белоруссия Минская обл.       10942               62.0
                                      Могилевская обл.   10942                0.0
                                      г. Минск           10942                0.0
                           Казахстан  г. Нур-Султан      13301               40.0
...                                                                           ...
986           9943         Россия     Смоленская обл.    17460                0.0
998           0            Россия     Ленинградская обл. 18079                5.0
              3380         Россия     Ленинградская обл. 14956              121.0

In [13]:
def get_features_Cv(df: pd.DataFrame, month: pd.Timestamp, N=6, MDAD_1=2,  MNGR_GRP_MDAD=0) -> pd.DataFrame:
    """Calculate features for `month`."""

    start_period = month - pd.offsets.MonthBegin(N)
    end_period = month - pd.offsets.MonthBegin(1)

    df = df.loc[:, :end_period]

    features = pd.DataFrame([], index=df.index)
    features["month"] = month.month
    # формируем лаги за N месяцев
    features[[f"vol_tm{i}" for i in range(N, 0, -1)]] = df.loc[:, start_period:end_period].copy()

    ### !!!!!!!!!!!!!!   #################################################################################
    rolling = df.rolling(12, axis=1, min_periods=1)
    features = features.join(rolling.mean().iloc[:, -1].rename("last_year_avg"))
    
    # Добавление ГРУППОВЫХ скользящих средних абсолютные отклонения(MDAD)
    if MNGR_GRP_MDAD != 0:
        period = MNGR_GRP_MDAD
        df2 = df.copy()
        df2[df2.columns.to_list()] = \
                                df2.groupby(level='manager_code').transform(lambda x: x.mean())
        grp_manager_roll_mean = df2.rolling(period, axis=1, min_periods=1)
        features = \
        features.join(grp_manager_roll_mean.apply(lambda x: np.nanmedian(np.abs(x - np.nanmedian(x))) , raw=True 
                        ).iloc[:, -1].rename("MNGR_GRP_MDAD"+str(period))) 
    
    if MDAD_1 != 0:
        period = MDAD_1
        rolling = df.rolling(period, axis=1, min_periods=1)
        features = features.join( 
                        rolling.apply(lambda x: np.nanmedian(np.abs(x - np.nanmedian(x))) , raw=True 
                        ).iloc[:, -1].rename("mdad_"+str(period)) )
    '''
    if MDAD_2 != 0 and MDAD_2 != MDAD_1:
        period = MDAD_2
        rolling = df.rolling(MDAD_2, axis=1, min_periods=1)
        features = features.join( 
                        rolling.apply(lambda x: np.nanmedian(np.abs(x - np.nanmedian(x))) , raw=True 
                        ).iloc[:, -1].rename("mdad_"+str(period)) )    
                        
    ### !!!!!!!!!!!!!!   ##################################################################################
    # Cv1
    
    
    
    ##################################################################################################
    '''
    ##################################################################################################
    ##################################################################################################

    # выделяем КВАРТАЛЫ
    #features["quarter"] = month.quarter

    return features

In [14]:
cv_traine_range = pd.date_range("2019-01-01", "2020-07-01", freq="MS")

#cv_traine_range = pd.date_range("2018-07-01", "2020-07-01", freq="MS")
cv_traine_range, len(cv_traine_range)

(DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
                '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
                '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
                '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
                '2020-05-01', '2020-06-01', '2020-07-01'],
               dtype='datetime64[ns]', freq='MS'),
 19)

In [15]:
%%time

full_features2 = {}

dataset_features2 = []
for target_month in tqdm(cv_traine_range):
#################################################################################################################################

    features2 = get_features_Cv(group_ts, target_month, MDAD_1=2, MNGR_GRP_MDAD=0)

#################################################################################################################################
    features2[TARGET] = group_ts[target_month]
    dataset_features2.append(features2.reset_index())
full_features2 = pd.concat(dataset_features2, ignore_index=True)

CAT_COLS = ["material_code", "company_code", "country", "region", "manager_code", "month"]
# создаем список  переменных
FTS_COLS = full_features2.columns.tolist()
FTS_COLS.remove(TARGET)
#################################################################################################################################
print(FTS_COLS)

  0%|          | 0/19 [00:00<?, ?it/s]

['material_code', 'company_code', 'country', 'region', 'manager_code', 'month', 'vol_tm6', 'vol_tm5', 'vol_tm4', 'vol_tm3', 'vol_tm2', 'vol_tm1', 'last_year_avg', 'mdad_2']
Wall time: 34.2 s

In [16]:
#cv_features = full_features2[:-941]
cv_features = full_features2.copy() #[941:]

for c in cv_features.columns:
    col_type = cv_features[c].dtype
    if col_type == 'object': # or col_type == 'int64': # or col_type.name == 'category':
        cv_features[c] = cv_features[c].astype('category')

cv_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17879 entries, 0 to 17878
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   material_code  17879 non-null  int64
 1   company_code   17879 non-null  int64
 2   country        17879 non-null  category
 3   region         17879 non-null  category
 4   manager_code   17879 non-null  int64
 5   month          17879 non-null  int64
 6   vol_tm6        17879 non-null  float64
 7   vol_tm5        17879 non-null  float64
 8   vol_tm4        17879 non-null  float64
 9   vol_tm3        17879 non-null  float64
 10  vol_tm2        17879 non-null  float64
 11  vol_tm1        17879 non-null  float64
 12  last_year_avg  17879 non-null  float64
 13  mdad_2         17879 non-null  float64
 14  target         17879 non-null  float64
dtypes: category(2), float64(9), int64(4)
memory usage: 1.8 MB

In [17]:
cv_features

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
0,124,7278,Россия,Респ. Татарстан,17460,1,220.0,220.0,220.0,280.0,280.0,280.0,260.000000,0.0,200.0
1,133,0,Белоруссия,Минская обл.,10942,1,0.0,0.0,0.0,0.0,0.0,0.0,21.666667,0.0,0.0
2,133,0,Белоруссия,Могилевская обл.,10942,1,0.0,0.0,100.0,220.0,20.0,0.0,40.000000,10.0,0.0
3,133,0,Белоруссия,г. Минск,10942,1,180.0,99.0,60.0,400.0,120.0,20.0,91.583333,50.0,40.0
4,133,0,Казахстан,г. Нур-Султан,13301,1,40.0,20.0,40.0,30.0,0.0,40.0,19.166667,20.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17874,986,9943,Россия,Смоленская обл.,17460,7,0.0,21.0,63.0,125.0,84.0,84.0,31.416667,0.0,83.0
17875,998,0,Россия,Ленинградская обл.,18079,7,5.0,5.0,5.0,0.0,3.0,3.0,4.750000,0.0,9.0
17876,998,3380,Россия,Ленинградская обл.,14956,7,73.0,74.0,122.0,100.0,15.0,30.0,85.583333,7.5,50.0
17877,998,5410,Россия,г. Санкт-Петербург,14956,7,100.0,180.0,180.0,100.0,140.0,40.0,118.333333,50.0,0.0
17878,998,6346,Россия,Респ. Башкортостан,10737,7,40.0,0.0,20.0,40.0,20.0,21.0,25.083333,0.5,21.0

In [18]:
# 18 групп - блоки по 1 наблюдению(в 1 наблюдении данные 941 временного ряда)
N_timeseries = 941 # в 1 наблюдении данные 941 временного ряда
start_train = 1  # 

test_size=N_timeseries #*3
#max_train_size = N_timeseries*6
n_splits= 17 #int(len(full_features2)/(test_size))-1 - start_train # 

tscv = TimeSeriesSplit(n_splits=n_splits, 
                       #max_train_size=max_train_size, 
                       test_size=test_size)

verbose =  False # True #

# 3 группы(типа как у организаторов)
N_timeseries = 941
start_train = 0  # 

test_size=N_timeseries*6
max_train_size = N_timeseries*6
n_splits= 2 #int(len(full_features2)/(test_size))-1 - start_train # 

tscv = TimeSeriesSplit(n_splits=n_splits, 
                       #max_train_size=max_train_size, 
                       test_size=test_size)

verbose =  False # True #

# 6 групп
N_timeseries = 941
start_train = 1  # 

test_size=N_timeseries *3
#max_train_size = N_timeseries*6
n_splits= 5 #int(len(full_features2)/(test_size))-1 - start_train # 

tscv = TimeSeriesSplit(n_splits=n_splits, 
                       #max_train_size=max_train_size, 
                       test_size=test_size)

verbose =  False # True #

In [19]:
for train_index, test_index in tscv.split(cv_features): # tscv.split(X): # tscv.split(cv_features)
    print("TRAIN: ", train_index[0],"...",train_index[-1])
    print("TEST: ", test_index[0],"...",test_index[-1])

    X_train, X_test = cv_features.iloc[train_index], cv_features.iloc[test_index]
    y_train, y_test = cv_features.iloc[train_index][TARGET], cv_features.iloc[test_index][TARGET]
    
    print('Обучающий набор: %f' % (len(X_train)/941)) #test_size))
    print('Тестовый набор: %d' % (len(X_test)/941)) #test_size))

    #display(X_train)
    display(X_test)
print("tscv.get_n_splits()=",tscv.get_n_splits())

TRAIN:  0 ... 1881
TEST:  1882 ... 2822
Обучающий набор: 2.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
1882,124,7278,Россия,Респ. Татарстан,17460,3,220.0,280.0,280.0,280.0,200.0,200.0,236.666667,0.0,200.0
1883,133,0,Белоруссия,Минская обл.,10942,3,0.0,0.0,0.0,0.0,0.0,0.0,21.666667,0.0,0.0
1884,133,0,Белоруссия,Могилевская обл.,10942,3,100.0,220.0,20.0,0.0,0.0,80.0,46.666667,40.0,142.0
1885,133,0,Белоруссия,г. Минск,10942,3,60.0,400.0,120.0,20.0,40.0,0.0,93.250000,20.0,0.0
1886,133,0,Казахстан,г. Нур-Султан,13301,3,40.0,30.0,0.0,40.0,40.0,50.0,26.666667,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,986,9943,Россия,Смоленская обл.,17460,3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2819,998,0,Россия,Ленинградская обл.,18079,3,5.0,5.0,0.0,0.0,5.0,5.0,2.000000,0.0,0.0
2820,998,3380,Россия,Ленинградская обл.,14956,3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,80.0
2821,998,5410,Россия,г. Санкт-Петербург,14956,3,80.0,80.0,80.0,100.0,120.0,119.0,88.250000,0.5,160.0
2822,998,6346,Россия,Респ. Башкортостан,10737,3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,20.0

TRAIN:  0 ... 2822
TEST:  2823 ... 3763
Обучающий набор: 3.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
2823,124,7278,Россия,Респ. Татарстан,17460,4,280.0,280.0,280.0,200.0,200.0,200.0,231.666667,0.0,185.0
2824,133,0,Белоруссия,Минская обл.,10942,4,0.0,0.0,0.0,0.0,0.0,0.0,21.666667,0.0,36.0
2825,133,0,Белоруссия,Могилевская обл.,10942,4,220.0,20.0,0.0,0.0,80.0,142.0,58.500000,31.0,103.0
2826,133,0,Белоруссия,г. Минск,10942,4,400.0,120.0,20.0,40.0,0.0,0.0,93.250000,0.0,0.0
2827,133,0,Казахстан,г. Нур-Султан,13301,4,30.0,0.0,40.0,40.0,50.0,0.0,24.166667,25.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3759,986,9943,Россия,Смоленская обл.,17460,4,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3760,998,0,Россия,Ленинградская обл.,18079,4,5.0,0.0,0.0,5.0,5.0,0.0,2.000000,2.5,8.0
3761,998,3380,Россия,Ленинградская обл.,14956,4,0.0,0.0,0.0,0.0,0.0,80.0,6.666667,40.0,94.0
3762,998,5410,Россия,г. Санкт-Петербург,14956,4,80.0,80.0,100.0,120.0,119.0,160.0,93.250000,20.5,120.0
3763,998,6346,Россия,Респ. Башкортостан,10737,4,0.0,0.0,0.0,0.0,0.0,20.0,1.666667,10.0,0.0

TRAIN:  0 ... 3763
TEST:  3764 ... 4704
Обучающий набор: 4.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
3764,124,7278,Россия,Респ. Татарстан,17460,5,280.0,280.0,200.0,200.0,200.0,185.0,227.083333,7.5,103.0
3765,133,0,Белоруссия,Минская обл.,10942,5,0.0,0.0,0.0,0.0,0.0,36.0,8.000000,18.0,98.0
3766,133,0,Белоруссия,Могилевская обл.,10942,5,20.0,0.0,0.0,80.0,142.0,103.0,67.083333,19.5,145.0
3767,133,0,Белоруссия,г. Минск,10942,5,120.0,20.0,40.0,0.0,0.0,0.0,93.250000,0.0,0.0
3768,133,0,Казахстан,г. Нур-Султан,13301,5,0.0,40.0,40.0,50.0,0.0,40.0,25.000000,20.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4700,986,9943,Россия,Смоленская обл.,17460,5,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
4701,998,0,Россия,Ленинградская обл.,18079,5,0.0,0.0,5.0,5.0,0.0,8.0,2.666667,4.0,5.0
4702,998,3380,Россия,Ленинградская обл.,14956,5,0.0,0.0,0.0,0.0,80.0,94.0,14.500000,7.0,127.0
4703,998,5410,Россия,г. Санкт-Петербург,14956,5,80.0,100.0,120.0,119.0,160.0,120.0,98.250000,20.0,140.0
4704,998,6346,Россия,Респ. Башкортостан,10737,5,0.0,0.0,0.0,0.0,20.0,0.0,1.666667,10.0,20.0

TRAIN:  0 ... 4704
TEST:  4705 ... 5645
Обучающий набор: 5.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
4705,124,7278,Россия,Респ. Татарстан,17460,6,280.0,200.0,200.0,200.0,185.0,103.0,217.333333,41.0,62.0
4706,133,0,Белоруссия,Минская обл.,10942,6,0.0,0.0,0.0,0.0,36.0,98.0,11.166667,31.0,82.0
4707,133,0,Белоруссия,Могилевская обл.,10942,6,0.0,0.0,80.0,142.0,103.0,145.0,67.500000,21.0,0.0
4708,133,0,Белоруссия,г. Минск,10942,6,20.0,40.0,0.0,0.0,0.0,0.0,89.916667,0.0,0.0
4709,133,0,Казахстан,г. Нур-Султан,13301,6,40.0,40.0,50.0,0.0,40.0,0.0,25.000000,20.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5641,986,9943,Россия,Смоленская обл.,17460,6,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
5642,998,0,Россия,Ленинградская обл.,18079,6,0.0,5.0,5.0,0.0,8.0,5.0,3.083333,1.5,10.0
5643,998,3380,Россия,Ленинградская обл.,14956,6,0.0,0.0,0.0,80.0,94.0,127.0,25.083333,16.5,121.0
5644,998,5410,Россия,г. Санкт-Петербург,14956,6,100.0,120.0,119.0,160.0,120.0,140.0,104.916667,10.0,100.0
5645,998,6346,Россия,Респ. Башкортостан,10737,6,0.0,0.0,0.0,20.0,0.0,20.0,3.333333,10.0,0.0

TRAIN:  0 ... 5645
TEST:  5646 ... 6586
Обучающий набор: 6.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
5646,124,7278,Россия,Респ. Татарстан,17460,7,200.0,200.0,200.0,185.0,103.0,62.0,204.166667,20.5,0.0
5647,133,0,Белоруссия,Минская обл.,10942,7,0.0,0.0,0.0,36.0,98.0,82.0,18.000000,8.0,62.0
5648,133,0,Белоруссия,Могилевская обл.,10942,7,0.0,80.0,142.0,103.0,145.0,0.0,67.500000,72.5,0.0
5649,133,0,Белоруссия,г. Минск,10942,7,40.0,0.0,0.0,0.0,0.0,0.0,76.583333,0.0,0.0
5650,133,0,Казахстан,г. Нур-Султан,13301,7,40.0,50.0,0.0,40.0,0.0,40.0,28.333333,20.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6582,986,9943,Россия,Смоленская обл.,17460,7,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
6583,998,0,Россия,Ленинградская обл.,18079,7,5.0,5.0,0.0,8.0,5.0,10.0,3.916667,2.5,5.0
6584,998,3380,Россия,Ленинградская обл.,14956,7,0.0,0.0,80.0,94.0,127.0,121.0,35.166667,3.0,121.0
6585,998,5410,Россия,г. Санкт-Петербург,14956,7,120.0,119.0,160.0,120.0,140.0,100.0,106.583333,20.0,120.0
6586,998,6346,Россия,Респ. Башкортостан,10737,7,0.0,0.0,20.0,0.0,20.0,0.0,3.333333,10.0,20.0

TRAIN:  0 ... 6586
TEST:  6587 ... 7527
Обучающий набор: 7.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
6587,124,7278,Россия,Респ. Татарстан,17460,8,200.0,200.0,185.0,103.0,62.0,0.0,185.833333,31.0,0.0
6588,133,0,Белоруссия,Минская обл.,10942,8,0.0,0.0,36.0,98.0,82.0,62.0,23.166667,10.0,145.0
6589,133,0,Белоруссия,Могилевская обл.,10942,8,80.0,142.0,103.0,145.0,0.0,0.0,67.500000,0.0,0.0
6590,133,0,Белоруссия,г. Минск,10942,8,0.0,0.0,0.0,0.0,0.0,0.0,61.583333,0.0,41.0
6591,133,0,Казахстан,г. Нур-Султан,13301,8,50.0,0.0,40.0,0.0,40.0,40.0,28.333333,0.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7523,986,9943,Россия,Смоленская обл.,17460,8,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
7524,998,0,Россия,Ленинградская обл.,18079,8,5.0,0.0,8.0,5.0,10.0,5.0,4.333333,2.5,5.0
7525,998,3380,Россия,Ленинградская обл.,14956,8,0.0,80.0,94.0,127.0,121.0,121.0,45.250000,0.0,129.0
7526,998,5410,Россия,г. Санкт-Петербург,14956,8,119.0,160.0,120.0,140.0,100.0,120.0,109.916667,10.0,120.0
7527,998,6346,Россия,Респ. Башкортостан,10737,8,0.0,20.0,0.0,20.0,0.0,20.0,5.000000,10.0,0.0

TRAIN:  0 ... 7527
TEST:  7528 ... 8468
Обучающий набор: 8.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
7528,124,7278,Россия,Респ. Татарстан,17460,9,200.0,185.0,103.0,62.0,0.0,0.0,167.500000,0.0,0.0
7529,133,0,Белоруссия,Минская обл.,10942,9,0.0,36.0,98.0,82.0,62.0,145.0,35.250000,41.5,124.0
7530,133,0,Белоруссия,Могилевская обл.,10942,9,142.0,103.0,145.0,0.0,0.0,0.0,67.500000,0.0,0.0
7531,133,0,Белоруссия,г. Минск,10942,9,0.0,0.0,0.0,0.0,0.0,41.0,56.750000,20.5,83.0
7532,133,0,Казахстан,г. Нур-Султан,13301,9,0.0,40.0,0.0,40.0,40.0,40.0,30.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8464,986,9943,Россия,Смоленская обл.,17460,9,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
8465,998,0,Россия,Ленинградская обл.,18079,9,0.0,8.0,5.0,10.0,5.0,5.0,4.416667,0.0,10.0
8466,998,3380,Россия,Ленинградская обл.,14956,9,80.0,94.0,127.0,121.0,121.0,129.0,56.000000,4.0,117.0
8467,998,5410,Россия,г. Санкт-Петербург,14956,9,160.0,120.0,140.0,100.0,120.0,120.0,111.583333,0.0,80.0
8468,998,6346,Россия,Респ. Башкортостан,10737,9,20.0,0.0,20.0,0.0,20.0,0.0,5.000000,10.0,20.0

TRAIN:  0 ... 8468
TEST:  8469 ... 9409
Обучающий набор: 9.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
8469,124,7278,Россия,Респ. Татарстан,17460,10,185.0,103.0,62.0,0.0,0.0,0.0,149.166667,0.0,0.0
8470,133,0,Белоруссия,Минская обл.,10942,10,36.0,98.0,82.0,62.0,145.0,124.0,45.583333,10.5,181.0
8471,133,0,Белоруссия,Могилевская обл.,10942,10,103.0,145.0,0.0,0.0,0.0,0.0,59.166667,0.0,0.0
8472,133,0,Белоруссия,г. Минск,10942,10,0.0,0.0,0.0,0.0,41.0,83.0,58.666667,21.0,82.0
8473,133,0,Казахстан,г. Нур-Султан,13301,10,40.0,0.0,40.0,40.0,40.0,0.0,26.666667,20.0,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9405,986,9943,Россия,Смоленская обл.,17460,10,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
9406,998,0,Россия,Ленинградская обл.,18079,10,8.0,5.0,10.0,5.0,5.0,10.0,4.833333,2.5,10.0
9407,998,3380,Россия,Ленинградская обл.,14956,10,94.0,127.0,121.0,121.0,129.0,117.0,65.750000,6.0,115.0
9408,998,5410,Россия,г. Санкт-Петербург,14956,10,120.0,140.0,100.0,120.0,120.0,80.0,111.583333,20.0,120.0
9409,998,6346,Россия,Респ. Башкортостан,10737,10,0.0,20.0,0.0,20.0,0.0,20.0,6.666667,10.0,40.0

TRAIN:  0 ... 9409
TEST:  9410 ... 10350
Обучающий набор: 10.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
9410,124,7278,Россия,Респ. Татарстан,17460,11,103.0,62.0,0.0,0.0,0.0,0.0,125.833333,0.0,0.0
9411,133,0,Белоруссия,Минская обл.,10942,11,98.0,82.0,62.0,145.0,124.0,181.0,60.666667,28.5,208.0
9412,133,0,Белоруссия,Могилевская обл.,10942,11,145.0,0.0,0.0,0.0,0.0,0.0,40.833333,0.0,0.0
9413,133,0,Белоруссия,г. Минск,10942,11,0.0,0.0,0.0,41.0,83.0,82.0,32.166667,0.5,42.0
9414,133,0,Казахстан,г. Нур-Султан,13301,11,0.0,40.0,40.0,40.0,0.0,45.0,27.916667,22.5,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10346,986,9943,Россия,Смоленская обл.,17460,11,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
10347,998,0,Россия,Ленинградская обл.,18079,11,5.0,10.0,5.0,5.0,10.0,10.0,5.250000,0.0,0.0
10348,998,3380,Россия,Ленинградская обл.,14956,11,127.0,121.0,121.0,129.0,117.0,115.0,75.333333,1.0,102.0
10349,998,5410,Россия,г. Санкт-Петербург,14956,11,140.0,100.0,120.0,120.0,80.0,120.0,114.916667,20.0,140.0
10350,998,6346,Россия,Респ. Башкортостан,10737,11,20.0,0.0,20.0,0.0,20.0,40.0,10.000000,10.0,40.0

TRAIN:  0 ... 10350
TEST:  10351 ... 11291
Обучающий набор: 11.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
10351,124,7278,Россия,Респ. Татарстан,17460,12,62.0,0.0,0.0,0.0,0.0,0.0,102.500000,0.0,0.0
10352,133,0,Белоруссия,Минская обл.,10942,12,82.0,62.0,145.0,124.0,181.0,208.0,78.000000,13.5,207.0
10353,133,0,Белоруссия,Могилевская обл.,10942,12,0.0,0.0,0.0,0.0,0.0,0.0,39.166667,0.0,0.0
10354,133,0,Белоруссия,г. Минск,10942,12,0.0,0.0,41.0,83.0,82.0,42.0,25.666667,20.0,0.0
10355,133,0,Казахстан,г. Нур-Султан,13301,12,40.0,40.0,40.0,0.0,45.0,50.0,32.083333,2.5,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11287,986,9943,Россия,Смоленская обл.,17460,12,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
11288,998,0,Россия,Ленинградская обл.,18079,12,10.0,5.0,5.0,10.0,10.0,0.0,5.250000,5.0,6.0
11289,998,3380,Россия,Ленинградская обл.,14956,12,121.0,121.0,129.0,117.0,115.0,102.0,83.833333,6.5,29.0
11290,998,5410,Россия,г. Санкт-Петербург,14956,12,100.0,120.0,120.0,80.0,120.0,140.0,119.916667,10.0,100.0
11291,998,6346,Россия,Респ. Башкортостан,10737,12,0.0,20.0,0.0,20.0,40.0,40.0,13.333333,0.0,40.0

TRAIN:  0 ... 11291
TEST:  11292 ... 12232
Обучающий набор: 12.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
11292,124,7278,Россия,Респ. Татарстан,17460,1,0.0,0.0,0.0,0.0,0.0,0.0,79.166667,0.0,0.0
11293,133,0,Белоруссия,Минская обл.,10942,1,62.0,145.0,124.0,181.0,208.0,207.0,95.250000,0.5,17.0
11294,133,0,Белоруссия,Могилевская обл.,10942,1,0.0,0.0,0.0,0.0,0.0,0.0,39.166667,0.0,0.0
11295,133,0,Белоруссия,г. Минск,10942,1,0.0,41.0,83.0,82.0,42.0,0.0,24.000000,21.0,0.0
11296,133,0,Казахстан,г. Нур-Султан,13301,1,40.0,40.0,0.0,45.0,50.0,45.0,32.500000,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12228,986,9943,Россия,Смоленская обл.,17460,1,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
12229,998,0,Россия,Ленинградская обл.,18079,1,5.0,5.0,10.0,10.0,0.0,6.0,5.750000,3.0,5.0
12230,998,3380,Россия,Ленинградская обл.,14956,1,121.0,129.0,117.0,115.0,102.0,29.0,86.250000,36.5,73.0
12231,998,5410,Россия,г. Санкт-Петербург,14956,1,120.0,120.0,80.0,120.0,140.0,100.0,119.916667,20.0,100.0
12232,998,6346,Россия,Респ. Башкортостан,10737,1,20.0,0.0,20.0,40.0,40.0,40.0,16.666667,0.0,40.0

TRAIN:  0 ... 12232
TEST:  12233 ... 13173
Обучающий набор: 13.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
12233,124,7278,Россия,Респ. Татарстан,17460,2,0.0,0.0,0.0,0.0,0.0,0.0,62.500000,0.0,0.0
12234,133,0,Белоруссия,Минская обл.,10942,2,145.0,124.0,181.0,208.0,207.0,17.0,96.666667,95.0,72.0
12235,133,0,Белоруссия,Могилевская обл.,10942,2,0.0,0.0,0.0,0.0,0.0,0.0,39.166667,0.0,0.0
12236,133,0,Белоруссия,г. Минск,10942,2,41.0,83.0,82.0,42.0,0.0,0.0,20.666667,0.0,0.0
12237,133,0,Казахстан,г. Нур-Султан,13301,2,40.0,0.0,45.0,50.0,45.0,0.0,29.166667,22.5,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13169,986,9943,Россия,Смоленская обл.,17460,2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,21.0
13170,998,0,Россия,Ленинградская обл.,18079,2,5.0,10.0,10.0,0.0,6.0,5.0,5.750000,0.5,5.0
13171,998,3380,Россия,Ленинградская обл.,14956,2,129.0,117.0,115.0,102.0,29.0,73.0,92.333333,22.0,74.0
13172,998,5410,Россия,г. Санкт-Петербург,14956,2,120.0,80.0,120.0,140.0,100.0,100.0,118.250000,0.0,180.0
13173,998,6346,Россия,Респ. Башкортостан,10737,2,0.0,20.0,40.0,40.0,40.0,40.0,20.000000,0.0,0.0

TRAIN:  0 ... 13173
TEST:  13174 ... 14114
Обучающий набор: 14.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
13174,124,7278,Россия,Респ. Татарстан,17460,3,0.0,0.0,0.0,0.0,0.0,0.0,45.833333,0.0,0.0
13175,133,0,Белоруссия,Минская обл.,10942,3,124.0,181.0,208.0,207.0,17.0,72.0,102.666667,27.5,250.0
13176,133,0,Белоруссия,Могилевская обл.,10942,3,0.0,0.0,0.0,0.0,0.0,0.0,32.500000,0.0,0.0
13177,133,0,Белоруссия,г. Минск,10942,3,83.0,82.0,42.0,0.0,0.0,0.0,20.666667,0.0,0.0
13178,133,0,Казахстан,г. Нур-Султан,13301,3,0.0,45.0,50.0,45.0,0.0,50.0,29.166667,25.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14110,986,9943,Россия,Смоленская обл.,17460,3,0.0,0.0,0.0,0.0,0.0,21.0,1.750000,10.5,63.0
14111,998,0,Россия,Ленинградская обл.,18079,3,10.0,10.0,0.0,6.0,5.0,5.0,5.750000,0.0,5.0
14112,998,3380,Россия,Ленинградская обл.,14956,3,117.0,115.0,102.0,29.0,73.0,74.0,98.500000,0.5,122.0
14113,998,5410,Россия,г. Санкт-Петербург,14956,3,80.0,120.0,140.0,100.0,100.0,180.0,123.333333,40.0,180.0
14114,998,6346,Россия,Респ. Башкортостан,10737,3,20.0,40.0,40.0,40.0,40.0,0.0,20.000000,20.0,20.0

TRAIN:  0 ... 14114
TEST:  14115 ... 15055
Обучающий набор: 15.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
14115,124,7278,Россия,Респ. Татарстан,17460,4,0.0,0.0,0.0,0.0,0.0,0.0,29.166667,0.0,0.0
14116,133,0,Белоруссия,Минская обл.,10942,4,181.0,208.0,207.0,17.0,72.0,250.0,123.500000,89.0,394.0
14117,133,0,Белоруссия,Могилевская обл.,10942,4,0.0,0.0,0.0,0.0,0.0,0.0,20.666667,0.0,166.0
14118,133,0,Белоруссия,г. Минск,10942,4,82.0,42.0,0.0,0.0,0.0,0.0,20.666667,0.0,21.0
14119,133,0,Казахстан,г. Нур-Султан,13301,4,45.0,50.0,45.0,0.0,50.0,40.0,32.500000,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15051,986,9943,Россия,Смоленская обл.,17460,4,0.0,0.0,0.0,0.0,21.0,63.0,7.000000,21.0,125.0
15052,998,0,Россия,Ленинградская обл.,18079,4,10.0,0.0,6.0,5.0,5.0,5.0,6.166667,0.0,0.0
15053,998,3380,Россия,Ленинградская обл.,14956,4,115.0,102.0,29.0,73.0,74.0,122.0,102.000000,24.0,100.0
15054,998,5410,Россия,г. Санкт-Петербург,14956,4,120.0,140.0,100.0,100.0,180.0,180.0,125.000000,0.0,100.0
15055,998,6346,Россия,Респ. Башкортостан,10737,4,40.0,40.0,40.0,40.0,0.0,20.0,20.000000,10.0,40.0

TRAIN:  0 ... 15055
TEST:  15056 ... 15996
Обучающий набор: 16.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
15056,124,7278,Россия,Респ. Татарстан,17460,5,0.0,0.0,0.0,0.0,0.0,0.0,13.750000,0.0,0.0
15057,133,0,Белоруссия,Минская обл.,10942,5,208.0,207.0,17.0,72.0,250.0,394.0,153.333333,72.0,288.0
15058,133,0,Белоруссия,Могилевская обл.,10942,5,0.0,0.0,0.0,0.0,0.0,166.0,25.916667,83.0,62.0
15059,133,0,Белоруссия,г. Минск,10942,5,42.0,0.0,0.0,0.0,0.0,21.0,22.416667,10.5,0.0
15060,133,0,Казахстан,г. Нур-Султан,13301,5,50.0,45.0,0.0,50.0,40.0,0.0,29.166667,20.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15992,986,9943,Россия,Смоленская обл.,17460,5,0.0,0.0,0.0,21.0,63.0,125.0,17.416667,31.0,84.0
15993,998,0,Россия,Ленинградская обл.,18079,5,0.0,6.0,5.0,5.0,5.0,0.0,5.500000,2.5,3.0
15994,998,3380,Россия,Ленинградская обл.,14956,5,102.0,29.0,73.0,74.0,122.0,100.0,102.500000,11.0,15.0
15995,998,5410,Россия,г. Санкт-Петербург,14956,5,140.0,100.0,100.0,180.0,180.0,100.0,123.333333,40.0,140.0
15996,998,6346,Россия,Респ. Башкортостан,10737,5,40.0,40.0,40.0,0.0,20.0,40.0,23.333333,10.0,20.0

TRAIN:  0 ... 15996
TEST:  15997 ... 16937
Обучающий набор: 17.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
15997,124,7278,Россия,Респ. Татарстан,17460,6,0.0,0.0,0.0,0.0,0.0,0.0,5.166667,0.0,0.0
15998,133,0,Белоруссия,Минская обл.,10942,6,207.0,17.0,72.0,250.0,394.0,288.0,169.166667,53.0,210.0
15999,133,0,Белоруссия,Могилевская обл.,10942,6,0.0,0.0,0.0,0.0,166.0,62.0,19.000000,52.0,0.0
16000,133,0,Белоруссия,г. Минск,10942,6,0.0,0.0,0.0,0.0,21.0,0.0,22.416667,10.5,0.0
16001,133,0,Казахстан,г. Нур-Султан,13301,6,45.0,0.0,50.0,40.0,0.0,0.0,29.166667,0.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16933,986,9943,Россия,Смоленская обл.,17460,6,0.0,0.0,21.0,63.0,125.0,84.0,24.416667,20.5,84.0
16934,998,0,Россия,Ленинградская обл.,18079,6,6.0,5.0,5.0,5.0,0.0,3.0,5.333333,1.5,3.0
16935,998,3380,Россия,Ленинградская обл.,14956,6,29.0,73.0,74.0,122.0,100.0,15.0,93.166667,42.5,30.0
16936,998,5410,Россия,г. Санкт-Петербург,14956,6,100.0,100.0,180.0,180.0,100.0,140.0,123.333333,20.0,40.0
16937,998,6346,Россия,Респ. Башкортостан,10737,6,40.0,40.0,0.0,20.0,40.0,20.0,23.333333,10.0,21.0

TRAIN:  0 ... 16937
TEST:  16938 ... 17878
Обучающий набор: 18.000000
Тестовый набор: 1

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2,target
16938,124,7278,Россия,Респ. Татарстан,17460,7,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
16939,133,0,Белоруссия,Минская обл.,10942,7,17.0,72.0,250.0,394.0,288.0,210.0,179.833333,39.0,249.0
16940,133,0,Белоруссия,Могилевская обл.,10942,7,0.0,0.0,0.0,166.0,62.0,0.0,19.000000,31.0,0.0
16941,133,0,Белоруссия,г. Минск,10942,7,0.0,0.0,0.0,21.0,0.0,0.0,22.416667,0.0,6.0
16942,133,0,Казахстан,г. Нур-Султан,13301,7,0.0,50.0,40.0,0.0,0.0,50.0,30.000000,25.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17874,986,9943,Россия,Смоленская обл.,17460,7,0.0,21.0,63.0,125.0,84.0,84.0,31.416667,0.0,83.0
17875,998,0,Россия,Ленинградская обл.,18079,7,5.0,5.0,5.0,0.0,3.0,3.0,4.750000,0.0,9.0
17876,998,3380,Россия,Ленинградская обл.,14956,7,73.0,74.0,122.0,100.0,15.0,30.0,85.583333,7.5,50.0
17877,998,5410,Россия,г. Санкт-Петербург,14956,7,100.0,180.0,180.0,100.0,140.0,40.0,118.333333,50.0,0.0
17878,998,6346,Россия,Респ. Башкортостан,10737,7,40.0,0.0,20.0,40.0,20.0,21.0,25.083333,0.5,21.0

tscv.get_n_splits()= 17

if TEST:
    data = data[:1000]
    print("TEST MODE, Data shape = ",data.shape)

In [20]:
# создаем списки категориальных признаков
#cat_columns = data.select_dtypes(include='object').columns
cat_columns = CAT_COLS

# создаем список количественных признаков
#num_columns = train.select_dtypes(exclude='object').columns.tolist()
num_columns =  [x for x in cv_features.columns.to_list() if x not in CAT_COLS + [TARGET]]
print(cat_columns)
print(num_columns)

['material_code', 'company_code', 'country', 'region', 'manager_code', 'month']
['vol_tm6', 'vol_tm5', 'vol_tm4', 'vol_tm3', 'vol_tm2', 'vol_tm1', 'last_year_avg', 'mdad_2']

> # ********  Phase 1 *************

In [21]:
# создаем конвейеры
cat_pipe = Pipeline([('enc', 
                      TargetEncoder(),
                      #OneHotEncoder(sparse=False, handle_unknown='ignore') 
                     )])
num_pipe = Pipeline([('scal', None)])

In [22]:
# создаем список трехэлементных кортежей, в котором
# первый элемент кортежа - название конвейера с
# преобразованиями для определенного типа признаков
transformers = [('num', num_pipe, num_columns),
                ('cat', cat_pipe, cat_columns)]

# передаем список трансформеров в ColumnTransformer
transformer = ColumnTransformer(transformers=transformers)

In [23]:
if Phase_1:
    params2 = params   
    # задаем итоговый конвейер
    ml_pipe = Pipeline([('tr', transformer), 
                        ('ml', xgb.XGBRegressor(**params) )])

In [24]:
N_ESTIMATORS_RANG = list(range(10,500,1))#  [50000] #[5000] #[500] #
RANG_LEARNING_RATE =   list(np.arange(0.01,0.1,0.005)) # 0.0015 #list(np.arange(5e-3,1e-1,5e-3)) # [0.005]

if Phase_1:
    # задаем сетку гиперпараметров
    param_grid = [{
                'tr__cat__enc': [LabelEncoder(), 
                                 OrdinalEncoder(),
                                 OneHotEncoder(sparse=False, handle_unknown='ignore'),
                                 TargetEncoder(),
                                 CatBoostEncoder(),
                                 LeaveOneOutEncoder()
                                ],
                'tr__num__scal': [# StandardScaler(),
                                  None
                                 ],
                'ml__learning_rate': RANG_LEARNING_RATE,
                'ml__n_estimators' : N_ESTIMATORS_RANG
    }]
    
    if TEST:
            param_grid = [{
                    'tr__cat__enc': [#TargetEncoder(),
                                     LabelEncoder(), 
                                     #OrdinalEncoder(),
                                     #OneHotEncoder(sparse=False, handle_unknown='ignore')
                                    ],
                    'tr__num__scal': [None,  StandardScaler()],
                    'ml__learning_rate': [0.03,0.02],
                    'ml__n_estimators' : [20,30]
    }]

In [25]:
# обучаем модель, используя логарифмирование зависимой 
train, y_train = cv_features[FTS_COLS], np.log1p(cv_features[TARGET])

In [26]:
%%time

rmsle = lambda y_true, y_pred: \
                np.sqrt(mean_squared_log_error(
                    y_true, pd.Series(y_pred).clip(lower=0)
                ))
if Phase_1:
    # создаем экземпляр класса RandomizedSearchCV или GridSearchCV, передав конвейер,
    # сетку гиперпараметров и указав количество
    # блоков перекрестной проверки, отключив запись метрик 
    # для обучающих блоков перекрестной проверки в атрибут cv_results_
    #gs = GridSearchCV(
    gs = RandomizedSearchCV( 
                      ml_pipe, 
                      param_grid, 
                      cv=tscv,   # CV, 
                      scoring=make_scorer(rmsle, greater_is_better=False), #True), #False),#
                      n_jobs=6, #-1, 
                      return_train_score=False,
                      verbose=10, #3,
                      random_state=SEED,
                    n_iter = 100
                     )
    # выполняем решетчатый поиск
    gs.fit(train, y_train)
    
    
    # записываем оптимальные значения гиперпараметров
    OPT_PARAMS_PIPE = gs.best_params_ 
    display(gs.best_params_, gs.best_score_)

Wall time: 0 ns

0.6340411759257776)

In [27]:
if Phase_1:
    #y_probas = gs.predict_proba(test)
    # смотрим наилучшие значения гиперпараметров
    print('Наилучшие значения гиперпараметров: {}'.format(OPT_PARAMS_PIPE))
    # смотрим наилучшее значение SCORE
    print('Наилучшее значение SCORE: {:.3f}'.format(gs.best_score_))
    # смотрим значение AUC на тестовой выборке
    #print('Значение SCORE на тестовой выборке: {:.3f}'.format(
    #   roc_auc_score(y_test, y_probas[:, 1] )))

Наилучшие значения гиперпараметров: {'tr__num__scal': None, 'tr__cat__enc': CatBoostEncoder(), 'ml__n_estimators': 330, 'ml__learning_rate': 0.05499999999999999}
Наилучшее значение SCORE: -0.629

In [28]:
if Phase_1:
    # увеличиваем количество выводимых строк
    pd.set_option('display.max_rows', 300)

    # выводим результаты
    cv_results = pd.DataFrame(gs.cv_results_)[['mean_test_score',
                                               'param_ml__n_estimators',
                                               'param_ml__learning_rate',
                                               'param_tr__cat__enc',
                                               'param_tr__num__scal'
                                               ]]
    cv_results = cv_results.sort_values(by='mean_test_score', ascending=False).reset_index(drop=True)

    for col in cv_results.columns[cv_results.columns.str.contains('enc')]:
        if col in 'mean_test_score':
            continue

        cv_results[col] = cv_results[col].apply(lambda x: type(x).__name__)

    display(cv_results)
    
    with open(NAME_RUN_LOG, 'at', encoding='utf-8') as logfile:
        print('Временная метка окончания ФАЗЫ 1 : {}'.format(datetime.now().strftime("%d-%m-%Y %H:%M")), 
          file=logfile)
        print('Наилучшие значения гиперпараметров: {}'.format(gs.best_params_), file=logfile)
        print('Наилучшее значение SCORE: {:.3f}'.format(gs.best_score_), file=logfile)
        #print('Значение AUC на тестовой выборке: {:.3f}'.format(
        #    roc_auc_score(y_test, gs.predict_proba(test)[:, 1])), file=logfile)
        print('Таблица значений: ', file=logfile)
        #print(display(cv_results), file=logfile)
    with open(NAME_RUN_LOG, 'at', encoding='utf-8') as logfile:
        cv_results.to_csv(NAME_RUN_LOG, index=False, mode='at')

> # ********  Phase 2 *************

In [29]:
if Phase_2 or Phase_3 or Phase_4:
    # трансформеры - ставим сюда лучший 
    # из найденных в 1-й фазе
    upd_cat_pipe = Pipeline([('enc',CatBoostEncoder() )])  
    upd_num_pipe = Pipeline([('scal', None)]) # 

    upd_transformers = [('num', upd_num_pipe, num_columns),
                        ('cat', upd_cat_pipe, cat_columns),]

    # передаем список трансформеров в ColumnTransformer
    upd_transformer = ColumnTransformer(transformers=upd_transformers)

    # задаем итоговый конвейер ПОКА ЧТО С НАЧАЛЬНЫМИ НАСТРОЙКАМИ
    ml_pipe2 = Pipeline([('tr', upd_transformer), 
                         ('ml', xgb.XGBRegressor(**params) )])

    # УСТАНОВКА В НОВЫЙ PIPE НАИЛУЧШИХ ЗНАЧЕНИЙ НАЙДЕННЫХ В ПРЕДЫДУЩЕЙ ФАЗЕ:  
    if Phase_1:  
        # присваиваем итоговому конвейеру оптимальные значения гиперпараметров
        print('Before modification ml__n_estimators ml_pipe2: ', ml_pipe2.get_params()['ml__n_estimators']) # 'n_estimators'
        print('Before modification ml__learning_rate ml_pipe2: ', ml_pipe2.get_params()['ml__learning_rate']) # 'n_estimators'
        ml_pipe2.set_params(**OPT_PARAMS_PIPE)
        print('After modification ml__n_estimators ml_pipe2: ', ml_pipe2.get_params()['ml__n_estimators'])
        print('After modification ml__learning_rate ml_pipe2: ', ml_pipe2.get_params()['ml__learning_rate'])

ml_pipe2.get_params()

In [30]:
params2 = params3 = params4 = {}

if Phase_2: 
    params2 = {
        #'ml__use_label_encoder' : False ,
        # (1) гиперпараметры, задающие структуру дерева:
        #'tree_method' : 'gpu_hist' , 
        'ml__max_depth' : IntUniformDistribution(1 , 20),
        'ml__min_child_weight' : IntUniformDistribution(1 , 300),
        }

In [31]:
 # (2) гиперпараметры, привносящие случайность в ходе построения дерева:
if Phase_3: 
    params3 = {
              'ml__colsample_bytree' : UniformDistribution( 0 , 1.0),
              'ml__subsample' : UniformDistribution( 0 , 1.0)
             }

In [32]:
# (3) гиперпараметры, задающие регуляризацию функции потерь:
if Phase_4: 
    params4 = {
            'ml__lambda' : UniformDistribution( 1e-5 , 1.0),
            'ml__alpha' : UniformDistribution( 1e-5 , 1.0),
            'ml__gamma' : UniformDistribution( 1e-5 , 1.0)
             }

In [33]:
if Phase_2 or Phase_3 or Phase_4:  
    # задаем новое пространство поиска
    param_distributions = {**params2,**params3,**params4}
    print(param_distributions)

In [34]:
if Phase_2 or Phase_3 or Phase_4:  
    # задаем новое пространство поиска
    #param_distributions = {**params2,**params3,**params4}
 
    if TEST:
        param_distributions = {'ml__max_depth' : IntUniformDistribution(11, 13),
                              'ml__min_child_weight' : IntUniformDistribution(23, 25),}  

    # создаем экземпляр класса OptunaSearchCV
    optuna_search = OptunaSearchCV(
        ml_pipe2,
        param_distributions,
        scoring=make_scorer(rmsle, greater_is_better=False),
        n_trials=N_TRIALS,
        n_jobs=-1,
        refit=True,
        verbose=1,
        cv=tscv,   # CV_O,
        random_state=SEED)

In [35]:
%%time
if Phase_2 or Phase_3 or Phase_4:  
    # выполняем оптимизацию
    optuna_search.fit(train, y_train)

Wall time: 0 ns

In [36]:
if Phase_2 or Phase_3 or Phase_4:  
    # записываем оптимальные значения гиперпараметров optuna
    opt_optuna_params_pipe = optuna_search.best_params_
    if Phase_1:
        opt_optuna_params_pipe['ml__learning_rate'] = OPT_PARAMS_PIPE['ml__learning_rate']
        opt_optuna_params_pipe['ml__n_estimators'] = OPT_PARAMS_PIPE['ml__n_estimators']

    # печатаем наилучшие значения гиперпараметров
    print('Наилучшие значения гиперпараметров: {}'.format(opt_optuna_params_pipe))
    # печатаем наилучшее значение SCORE
    print('Наилучшее значение SCORE: {:.3f}'.format(optuna_search.best_score_))
    # смотрим значение SCORE на тестовой выборке
    #print('SCORE на тестовой выборке: {:.3f}'.format(
    #    rsmle(y_test, optuna_search.predict_proba(test)[:, 1])))
    print('')
    with open(NAME_RUN_LOG, 'at', encoding='utf-8') as logfile:
        print('/nВременная метка окончания ФАЗЫ 2 : {}'.format(datetime.now().strftime("%d-%m-%Y %H:%M")), 
          file=logfile)
        print('Наилучшие значения гиперпараметров найденых optuna: \n{}'.format(opt_optuna_params_pipe), file=logfile)
        print('Наилучшее значение SCORE: {:.3f}'.format(optuna_search.best_score_), file=logfile)
        #print('SCORE на тестовой выборке: {:.3f}\n'.format(
        #    rsmle(y_test, optuna_search.predict_proba(test)[:, 1])), file=logfile)

> # ********  Final phase *************

In [37]:
# high parameters at the end
if HIGH_PARAM_END:
        opt_optuna_params_pipe['ml__learning_rate'] = 20000
        opt_optuna_params_pipe['ml__n_estimators'] = 0.0021

In [38]:
# формируем полный массив меток и массив признаков
# формируем полный массив тренировочных данных
# формируем полный массив меток и массив признаков

In [39]:
for c in full_features2.columns:
    col_type = full_features2[c].dtype
    if col_type == 'object': # or col_type == 'int64': # or col_type.name == 'category':
        full_features2[c] = full_features2[c].astype('category')
full_features2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17879 entries, 0 to 17878
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   material_code  17879 non-null  int64
 1   company_code   17879 non-null  int64
 2   country        17879 non-null  category
 3   region         17879 non-null  category
 4   manager_code   17879 non-null  int64
 5   month          17879 non-null  int64
 6   vol_tm6        17879 non-null  float64
 7   vol_tm5        17879 non-null  float64
 8   vol_tm4        17879 non-null  float64
 9   vol_tm3        17879 non-null  float64
 10  vol_tm2        17879 non-null  float64
 11  vol_tm1        17879 non-null  float64
 12  last_year_avg  17879 non-null  float64
 13  mdad_2         17879 non-null  float64
 14  target         17879 non-null  float64
dtypes: category(2), float64(9), int64(4)
memory usage: 1.8 MB

In [40]:
fulldata, y_fulldata = full_features2[FTS_COLS]  , np.log1p(full_features2[TARGET])

In [41]:
# трансформеры
final_cat_pipe = Pipeline([('enc',CatBoostEncoder() )])  #OneHotEncoder(handle_unknown='ignore', sparse=False))])
final_num_pipe = Pipeline([('scal', None)]) # 

final_transformers = [('num', final_num_pipe, num_columns),
                     ('cat', final_cat_pipe, cat_columns),]

# передаем список трансформеров в ColumnTransformer
final_transformer = ColumnTransformer(transformers=final_transformers)

# задаем итоговый конвейер ПОКА ЧТО С НАЧАЛЬНЫМИ НАСТРОЙКАМИ
final_ml_pipe = Pipeline([('tr', final_transformer), 
                     ('ml', xgb.XGBRegressor(**params) )])

if Phase_1:
    final_ml_pipe.set_params(**OPT_PARAMS_PIPE)


if Phase_2 or Phase_3 or Phase_4:
    # Для контроля изменений смотрим выбранные параметры модели 
    opt_par = ['ml__n_estimators','ml__learning_rate',
               'ml__max_depth','ml__min_child_weight','ml__subsample']
    print(opt_par)
    print( 'Before modification ml_pipe3: ' ,[final_ml_pipe.get_params()[x] for x in opt_par])
    
    # УСТАНОВКА В НОВЫЙ PIPE НАИЛУЧШИХ ЗНАЧЕНИЙ НАЙДЕННЫХ В ПРЕДЫДУЩИХ ФАЗАХ:  
    # присваиваем итоговому конвейеру оптимальные значения гиперпараметров найденные optuna
    final_ml_pipe.set_params(**opt_optuna_params_pipe)
    
    # Для контроля изменений
    print( 'After modification ml_pipe3: ' ,[final_ml_pipe.get_params()[x] for x in opt_par])

In [42]:
opt_par = ['ml__n_estimators','ml__learning_rate','ml__max_depth',
           'ml__min_child_weight','ml__colsample_bytree','ml__subsample',
           'ml__lambda','ml__alpha','ml__gamma']

for n, p in zip(opt_par,[final_ml_pipe.get_params()[x] for x in opt_par]):
    print(n, " : ", p)

ml__n_estimators  :  330
ml__learning_rate  :  0.055
ml__max_depth  :  4
ml__min_child_weight  :  115
ml__colsample_bytree  :  0.7359281520613952
ml__subsample  :  0.3350726311191104
ml__lambda  :  0.07017450086376546
ml__alpha  :  0.06778367298243107
ml__gamma  :  0.30129207712879835

# Нужно увеличить n_estimators, ЕСЛИ параметры были найдены на уменьшенном наборе данных
par['ml__n_estimators'] = int(final_ml_pipe.get_params()['ml__n_estimators'] * (1 + 1/CV))
final_ml_pipe.set_params(**par )# 'n_estimators' ml__learning_rate
par

In [43]:
with open(NAME_RUN_LOG, 'at', encoding='utf-8') as logfile:
        print('Параметры конечной модели, формирующей посылку(submission): \n{}'.format(final_ml_pipe.get_params()), file=logfile)

In [44]:
# получаем ответы (вероятности) для проверочных блоков перекрестной проверки
XGBM_pred = cross_val_predict(final_ml_pipe, fulldata[-941*3:], y_fulldata[-941*3:], cv=10, n_jobs=-1, method='predict') #[:,1]
# смотрим значение rsmle
print('SCORE на всей исторической выборке: {:.3f}'.format(
        rmsle(y_fulldata[-941*3:], np.expm1(XGBM_pred) )))

SCORE на всей исторической выборке: 2.274

In [45]:
end_time = time()
time_taken = end_time - start_time # time_taken is in seconds
hours, rest = divmod(time_taken,3600)
minutes, seconds = divmod(rest, 60)
print('Duration: {} hours {} minutes {} seconds.'.format(hours, minutes, seconds))
print('\n\nВремя окончания работы скрипта: {}\n***********************\n'.format(datetime.now().strftime("%d-%m-%Y %H:%M")))
with open(NAME_RUN_LOG, 'at', encoding='utf-8') as logfile:
    print('\n\nВремя окончания работы скрипта: {}\n***********************\n'.format(datetime.now().strftime("%d-%m-%Y %H:%M")), 
          file=logfile)

Duration: 0.0 hours 0.0 minutes 46.937235832214355 seconds.


Время окончания работы скрипта: 17-12-2021 19:22
***********************

# Для использование в дальнейшем стекинге:

In [46]:
#XGBM_probs.to_csv("XGBM_probs_for_staking(v1)_TEST"+'.'+d_ext)
np.savetxt(NAME_OUTPUT_FOR_STAKING, XGBM_pred )
# Проверим
new_num_arr2 = np.loadtxt(NAME_OUTPUT_FOR_STAKING)
new_num_arr2[:10]

array([0.30203128, 4.38606739, 3.26788712, 1.57490647, 2.11707187,
       1.41892838, 5.43208838, 5.33820248, 3.30792236, 5.54022026])

# ### Adjusting over the entire historical sample Final phase

In [47]:
%%time

# обучаем обновленную модель на всей обучающей выборке
final_ml_pipe.fit(fulldata, y_fulldata)

Wall time: 2.68 s

Pipeline(steps=[('tr',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('scal',
                                                                   None)]),
                                                  ['vol_tm6', 'vol_tm5',
                                                   'vol_tm4', 'vol_tm3',
                                                   'vol_tm2', 'vol_tm1',
                                                   'last_year_avg', 'mdad_2']),
                                                 ('cat',
                                                  Pipeline(steps=[('enc',
                                                                   CatBoostEncoder())]),
                                                  ['material_code',
                                                   'company_code', 'country',
                                                   'region', 'manager_code',
                                                   'month'])])),
                ('ml',
                 XGBRegressor(alpha=0.067783672982...
                              lambda=0.07017450086376546, learning_rate=0.055,
                              max_delta_step=0, max_depth=4,
                              min_child_weight=115, missing=nan,
                              monotone_constraints='()', n_estimators=330,
                              n_jobs=4, num_parallel_tree=1, predictor='auto',
                              random_state=82736, reg_alpha=0.0677836761,
                              reg_lambda=0.0701745003, scale_pos_weight=1,
                              subsample=0.3350726311191104, tree_method='exact',
                              validate_parameters=1, verbosity=None))])

In [48]:
dill.dump(final_ml_pipe, file = open("pipe_XGB_1.cbm", "wb"))

In [49]:
%%writefile predict.py

import pathlib
import pandas as pd
import numpy as np
#from catboost import CatBoostRegressor
#import lightgbm as lgb
#import xgboost as xgb
#from sklearn.pipeline import Pipeline
#from sklearn.compose import ColumnTransformer
import dill
#from category_encoders import TargetEncoder, OrdinalEncoder, CatBoostEncoder

MODEL_FILE = pathlib.Path(__file__).parent.joinpath("pipe_XGB_1.cbm")
#ENCODER_1_FILE = pathlib.Path(__file__).parent.joinpath("ET_encoder_1.pkl")
#ENCODER_2_FILE = pathlib.Path(__file__).parent.joinpath("ET_encoder_2.pkl")

AGG_COLS = ["material_code", "company_code", "country", "region", "manager_code"]
CAT_COLS = ["material_code", "company_code", "country", "region", "manager_code", "month"]
FTS_COLS = ['material_code', 'company_code', 'country', 'region', 'manager_code', 'month', 
            'vol_tm6', 'vol_tm5', 'vol_tm4', 'vol_tm3', 'vol_tm2', 'vol_tm1', 'last_year_avg', 'mdad_2']

TARGET = "target"

def get_features(df: pd.DataFrame, month: pd.Timestamp) -> pd.DataFrame:
    """Вычисление признаков для `month`."""

    start_period = month - pd.offsets.MonthBegin(6)
    end_period = month - pd.offsets.MonthBegin(1)

    df = df.loc[:, :end_period]

    features = pd.DataFrame([], index=df.index)
    features["month"] = month.month
    features[[f"vol_tm{i}" for i in range(6, 0, -1)]] = df.loc[:, start_period:end_period].copy()

   ### !!!!!!!!!!!!!!   #################################################################################
    rolling = df.rolling(12, axis=1, min_periods=1)
    features = features.join(rolling.mean().iloc[:, -1].rename("last_year_avg"))
    
    # Добавление скользящих средних абсолютные отклонения(MDAD)
    rolling = df.rolling(2, axis=1, min_periods=1)
    features = features.join( 
                    rolling.apply(lambda x: np.nanmedian(np.abs(x - np.nanmedian(x))) , raw=True 
                    ).iloc[:, -1].rename("mdad_2") )
    
    return features.reset_index()


def predict(df: pd.DataFrame, month: pd.Timestamp) -> pd.DataFrame:

    model = dill.load(open(MODEL_FILE, "rb"))

    
    
    group_ts = df.groupby(AGG_COLS + ["month"])["volume"].sum().unstack(fill_value=0)
    features = get_features(group_ts, month)
    for c in features.columns:
        col_type = features[c].dtype
        if col_type == 'object': 
            features[c] = features[c].astype('category')    
    
    predictions = np.expm1(model.predict(features[FTS_COLS]))
    predictions = pd.Series(predictions).clip(lower=0, upper=7000)

    preds_df = features[AGG_COLS].copy()
    preds_df["prediction"] = predictions
    return preds_df

Overwriting predict.py

In [50]:
import predict
import importlib
importlib.reload(predict)

In [51]:
predict.get_features(group_ts.iloc[:, :-1], pd.Timestamp("2020-07-01"))

,material_code,company_code,country,region,manager_code,month,vol_tm6,vol_tm5,vol_tm4,vol_tm3,vol_tm2,vol_tm1,last_year_avg,mdad_2
0,124,7278,Россия,Респ. Татарстан,17460,7,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1,133,0,Белоруссия,Минская обл.,10942,7,17.0,72.0,250.0,394.0,288.0,210.0,179.833333,39.0
2,133,0,Белоруссия,Могилевская обл.,10942,7,0.0,0.0,0.0,166.0,62.0,0.0,19.000000,31.0
3,133,0,Белоруссия,г. Минск,10942,7,0.0,0.0,0.0,21.0,0.0,0.0,22.416667,0.0
4,133,0,Казахстан,г. Нур-Султан,13301,7,0.0,50.0,40.0,0.0,0.0,50.0,30.000000,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,986,9943,Россия,Смоленская обл.,17460,7,0.0,21.0,63.0,125.0,84.0,84.0,31.416667,0.0
937,998,0,Россия,Ленинградская обл.,18079,7,5.0,5.0,5.0,0.0,3.0,3.0,4.750000,0.0
938,998,3380,Россия,Ленинградская обл.,14956,7,73.0,74.0,122.0,100.0,15.0,30.0,85.583333,7.5
939,998,5410,Россия,г. Санкт-Петербург,14956,7,100.0,180.0,180.0,100.0,140.0,40.0,118.333333,50.0
940,998,6346,Россия,Респ. Башкортостан,10737,7,40.0,0.0,20.0,40.0,20.0,21.0,25.083333,0.5

In [52]:
ts_preds_tst = predict.predict(data[data.month<"2020-07-01"], pd.Timestamp("2020-07-01"))
ts_preds_tst

,material_code,company_code,country,region,manager_code,prediction
0,124,7278,Россия,Респ. Татарстан,17460,0.785872
1,133,0,Белоруссия,Минская обл.,10942,113.658333
2,133,0,Белоруссия,Могилевская обл.,10942,5.807093
3,133,0,Белоруссия,г. Минск,10942,3.148300
4,133,0,Казахстан,г. Нур-Султан,13301,13.913647
...,...,...,...,...,...,...
936,986,9943,Россия,Смоленская обл.,17460,49.378426
937,998,0,Россия,Ленинградская обл.,18079,1.375150
938,998,3380,Россия,Ленинградская обл.,14956,26.083757
939,998,5410,Россия,г. Санкт-Петербург,14956,44.128330
940,998,6346,Россия,Респ. Башкортостан,10737,11.355455

In [53]:
print("Ошибка на тестовом множестве:",
      f'{np.sqrt(mean_squared_log_error(group_ts.reset_index().iloc[:,-1], ts_preds_tst["prediction"])):.4f}')

Ошибка на тестовом множестве: 1.4954

In [54]:
ts_range = pd.date_range("2019-07-01", "2020-07-01", freq="MS")
s_csore = 0
for cnt, m in enumerate(ts_range):
    #print(cnt)
    ts_preds_ = predict.predict(data[data.month<"2020-07-01"], pd.Timestamp(m))
    #print(ts_preds_["prediction"])
    #print(group_ts.reset_index().loc[:,m])
    score = np.sqrt(mean_squared_log_error(group_ts.reset_index().loc[:,m], ts_preds_["prediction"]))
    print(m, " -> Ошибка на тестовом множестве:",
      f'{score:.4f}'
         )
    s_csore += score

print("Суммарная ошибка на тестовом множестве:",
      f'{s_csore/len(ts_range):.4f}'
         )

2019-07-01 00:00:00  -> Ошибка на тестовом множестве: 1.5434
2019-08-01 00:00:00  -> Ошибка на тестовом множестве: 1.4496
2019-09-01 00:00:00  -> Ошибка на тестовом множестве: 1.4524
2019-10-01 00:00:00  -> Ошибка на тестовом множестве: 1.4441
2019-11-01 00:00:00  -> Ошибка на тестовом множестве: 1.5381
2019-12-01 00:00:00  -> Ошибка на тестовом множестве: 1.5795
2020-01-01 00:00:00  -> Ошибка на тестовом множестве: 1.6819
2020-02-01 00:00:00  -> Ошибка на тестовом множестве: 1.6496
2020-03-01 00:00:00  -> Ошибка на тестовом множестве: 1.5996
2020-04-01 00:00:00  -> Ошибка на тестовом множестве: 1.7565
2020-05-01 00:00:00  -> Ошибка на тестовом множестве: 1.6624
2020-06-01 00:00:00  -> Ошибка на тестовом множестве: 1.7055
2020-07-01 00:00:00  -> Ошибка на тестовом множестве: 1.4954
Суммарная ошибка на тестовом множестве: 1.5814

In [55]:
# Windows
!tar.exe -a -c -f Pip_XGB_7.zip pipe_XGB_1.cbm requirements.txt predict.py
!wsl ls -al | wsl grep Pip_XGB_

-rwxrwxrwx 1 dimacv dimacv     55213 Dec 17 13:51 Pip_XGB_1.zip
-rwxrwxrwx 1 dimacv dimacv     88657 Dec 17 13:57 Pip_XGB_2.zip
-rwxrwxrwx 1 dimacv dimacv     88690 Dec 17 14:04 Pip_XGB_3.zip
-rwxrwxrwx 1 dimacv dimacv     88690 Dec 17 14:16 Pip_XGB_4.zip
-rwxrwxrwx 1 dimacv dimacv    123136 Dec 17 19:17 Pip_XGB_5.zip
-rwxrwxrwx 1 dimacv dimacv    123136 Dec 17 19:23 Pip_XGB_7.zip